.header{
    position: relative;
    @include adaptive-value(padding-bottom, 140, 62, 1);

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value(padding-top, 67, 37, 1);
    }

    &__main{
        display: flex;
        font-family: $nav-font-name;
        font-size: rem(17);
        color: #212832;
    }

    &__logo{
        margin-right: rem(18);
        min-width: rem(115);
        z-index: 5;
    }

    &__menu{
        @include adaptive-value(margin-right, 86, 0, 1);
        display: flex;
        align-items:center;
        justify-content: center;
        position: relative;

        @media (max-width: $sm) {
            margin-right: 0;
        }
    }

    &__ellipse{
        width: rem(480);
        height: rem(497);
        background: #D5AEE4;
        opacity: 0.3;
        filter: blur(75px);
        position: absolute;
        top: -60px;
        left: -420px;

        @media (max-width: $sm) {
            display: none;
        }
    }

    &__stain{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        @media (max-width: $sm) {
            display: none;
        }
    }
}

.menu{
    &__list{
        display: flex;

        @media (max-width: $sm) {
            flex-direction: column;
            align-items:center;
            text-align: center;
            justify-content: center;
            position: fixed;
            background: #FFF1DA;
            width: 100%;
            height: 100vh;
            display: none;
        }
    }

    &__item{
        transition: all 0.5s ease;
        width: 100%;

        &:hover {
            transform: scale(1.2);
            color: $first-accent-color;
        }

        @media (max-width: $sm) {
            max-width: rem(200);
        }
    }

    &__item:not(:last-child){
        @include adaptive-value(margin-right, 55, 1, 1);

        @media (max-width: $sm) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__link{
        @media (max-width: $sm) {
            font-size: 30px;
            color: #737373;
            line-height: 150%;
        }
    }

    &__hamburger{
        position: relative;
        width: 20px;
        height: 4px;
        background: #737373;
        cursor: pointer;
        transition: 0.3s;
        z-index: 5;
    }

    &__hamburger:before,
    &__hamburger:after{
        content: "";
        position: absolute;
        height: 4px;
        right: 0;
        background: #737373;
        transition: 0.3s;
    }

    &__hamburger:before{
        top: -10px;
        width: 26px;
    }

    &__hamburger:after{
        top: 10px;
        width: 13px;
    }

    &__toggle{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 30px;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 6;
    }

    &__hamburger,
    &__toggle{
        display: none;
    }

    input:checked ~ &__list {
        display: flex;
        right: 0;
        top: 0;
        z-index: 3;
    }

    input:checked ~ &__hamburger {
        background: transparent;
    }

    input:checked ~ &__hamburger:before{
        top: 0;
        transform: rotate(-45deg);
        width: 30px;

    }

    input:checked ~ &__hamburger:after{
        top: 0;
        transform: rotate(45deg);
        width: 30px;

    }

    @media (max-width: $sm) {
        &__hamburger,
        &__toggle{
            display: block;

        }
    }
}

.actions{
    display: flex;
    align-items: center;

    &__list{
        display: flex;

        @media (max-width: $sm) {
            display: none;
        }
    }

    &__item{
        transition: all 0.5s ease;

        &:hover {
            transform: scale(1.2);
            color: $first-accent-color;
        }
    }

    &__link-login{
        @include adaptive-value(margin-right, 52, 1, 1);
    }

    &__link-sign{
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 21px;
        @include adaptive-value(margin-right, 42, 1, 1);
        white-space: nowrap; 

        &:hover {
            background-color: $first-accent-color;
            color: white;
        }
    }

    &__btn{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 6px;
        z-index: 5;

        @media (max-width: $sm) {
            display: none;
        }
    }
}