.partners{
    @include adaptive-value(padding-bottom, 105, 60, 1);

    &__container{
        padding: rem(40) 0;
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @media (max-width: $sm) {
            flex-direction: column;
            padding-top: 79px;
        }
    }

    &__item {
		cursor: pointer;
		filter: grayscale(100%);
		transition: all 0.3s ease 0s;
		max-width: rem(180);
        width: 100%;
		height: rem(86);
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
    

		&:hover {
			filter: none;
			box-shadow: 0 1.05px 1.15px 0 rgba(0, 0, 0, 0.0048),
                        0 2.15px 1.52px 0 rgba(0, 0, 0, 0.0079),
                        0 10px 6px 0 rgba(0, 0, 0, 0.01),
                        0 10.52px 10.48px 0 rgba(0, 0, 0, 0.0121),
                        0 24.81px 19.85px 0 rgba(0, 0, 0, 0.0152),
                        0 20px 10px 0 rgba(0, 0, 0, 0.02);
			transform: scale(1.03);
		}
	}

    &__img{
        max-width: 100%;
    }
}