.partners{
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: rem(145);

        @media (max-width: $sm) {
            flex-direction: column;
            padding-bottom: rem(83);
        }
    }

    &__item {
		cursor: pointer;
		filter: grayscale(100%);
		transition: all 0.3s ease 0s;
		width: rem(234);
		height: rem(86);
		background-color: #fff;
		border-radius: rem(10);
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			filter: none;
			box-shadow: 0 1.85px 3.15px 0 rgba(0, 0, 0, 0.0048),
                        0 8.15px 6.52px 0 rgba(0, 0, 0, 0.0079),
                        0 20px 13px 0 rgba(0, 0, 0, 0.01),
                        0 38.52px 25.48px 0 rgba(0, 0, 0, 0.0121),
                        0 64.81px 46.85px 0 rgba(0, 0, 0, 0.0152),
                        0 100px 80px 0 rgba(0, 0, 0, 0.02);
			transform: scale(1.03);
		}
	}

    &__img{
        max-width: 100%;
    }
}