.services{
    padding-bottom: rem(123);

    &__container{
        position: relative;
    }

    &__header{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;

        @include adaptive-value(margin-bottom, 108, 13, 1);
    }

    &__subtitle{
        text-transform: uppercase;
        margin-bottom: em(10, 18);
    }

    &__services{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        padding-bottom: 30px;

        @media (max-width: $sm) {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            gap: 36px;
        }
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 162%;
        max-width: rem(260);
        padding: em(40);
        cursor: pointer;
        border-radius: 36px;
        position: relative;
        background-color: $white-color;

        h5{
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: rem(20);
            color: $title-color;
            margin-bottom: em(15, 20);
        }

        &:hover{
            box-shadow: 0 1.05em 2.15em 0 rgba(0, 0, 0, 0.48%),
                        0 4.15em 4.52em 0 rgba(0, 0, 0, 0.79%),
                        0 10px 9px 0 rgba(0, 0, 0, 0.01);

            &::after {  
                content: '';
                position: absolute;
                width: 100px;
                height: 100px;
                bottom: -35px;
                left: -35px;
                border-radius: 30px 0 10px 0;
                background-color: $second-accent-color;
                z-index: -10;
            }         
        }

        &:first-of-type{
            margin-left: 35px;

            @media (max-width: $md) {
            margin-left: 0;
            }
        }   
    }     

    &__img-wrapper{
        height: 78px;
        margin-bottom: 30px;
        display: flex;
        align-items:center;
        position: relative;   
    }

    &__img-wrapper::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #FFF1DA;
    }

    &__img-wrapper-first::before{
        bottom: 0;
        right: -20px;
        border-radius: 10px 5px 18px 5px;
    }

    &__img-wrapper-second::before{
        top: 0;
        left: 20px;
        border-radius: 5px 10px 5px 18px;
    }

    &__img-wrapper-third::before{
        top: 0;
        right: -20px;
        border-radius: 5px 18px 5px 10px;
    }

    &__img-wrapper-fourth::before{
        bottom: 0;
        right: -20px;
        border-radius: 5px 10px 5px 18px;
    }

    &__icon{
        z-index: 1;
    }

    &__decor{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

        @media (max-width: $sm) {
            display: none;
        }
    }
}
