.subscribe{
	&__container{
		padding-top: 20px;
		padding-bottom: 70px;

		@media (max-width: $sm) {
			padding-bottom: 58px;
		}
	}

	&__wrapper{
		position: relative;

		@media (max-width: $sm) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

    &__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 74px;
        max-width: rem(1170);
		@include adaptive-value("padding-top", 79, 25, 1);
		@include adaptive-value("padding-right", 155, 34, 1);
		@include adaptive-value("padding-left", 155, 34, 1);
		@include adaptive-value("padding-bottom", 79, 25, 1);
		border-radius: rem(129) rem(20) rem(20) rem(20);
		position: relative;
		overflow: hidden;

		@media (max-width: $sm) {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__content::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $purple-bg-color;
        opacity: 0.2;
        border-radius: inherit;
        z-index: -1;

		@media (max-width: $sm) {
			display: none;
		}
    }	

    &__form {
		max-width: rem(640);
		display: flex;
        gap: 38px;
        align-items:center;
		@include adaptive-value("gap", 24, 15, 1);
		@media (max-width: $sm){
			flex-direction: column; 
		}
	}

	&__input{
		@include adaptive-value("padding-top", 25, 15, 1);
		@include adaptive-value("padding-right", 281, 15, 1);
		@include adaptive-value("padding-bottom", 25, 15, 1);
		@include adaptive-value("padding-left", 66, 25, 1);
		border-radius: 10px;
        background-color: $white-color;

		&::placeholder {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 400;
			@include adaptive-value("font-size", 14, 9, 1);
			@include adaptive-value("line-height", 17, 12, 1);
			color: $placeholder-color;
		}

		&:focus {
			border: 1px solid $grey-color;
		}

		@media (max-width: $sm) {
			display: none;
		}
	}

    &__btn {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: rem(17);
        line-height: em(23, 17);
        text-align: center;
        color: $white-color;
        padding: em(22, 17) em(50, 17);
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: 10px;

		&:hover{
			cursor: pointer;
			background: linear-gradient(180deg, #f9794a 0%, #e56b58 100%);
		}
    }

    &__title{
        color: $main-text-color;
        font-size: rem(33);
        font-weight: 600;
        line-height: 164%;
        text-align: center;

		@media (max-width: $sm) {
			display: none;
		}
    }

	&__circles-big{
		position: absolute;
		top: 130px;
		left: 20px;
		z-index: -1;
		opacity: 0.2;

		@media (max-width: $sm) {
			display: none;
		}
	}

	&__circles{
		position: absolute;
		top: -17px;
		right: -82px;
		z-index: -1;
		opacity: 0.2;

		@media (max-width: $sm) {
			display: none;
		}
	}

	&__icon-wrapper{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -13px;
		right: -15px;

		@media (max-width: $sm) {
			position: static;
		}
	}

	&__stars{
		position: absolute;
		bottom: 0;
		right: -100px;

		@media (max-width: $maxWidth + px) {
			display: none;
		}
	}
}