// Colors
$title-color: #181E4B;
$main-text-color: #5E6282;
$first-accent-color: #F1A501;
$second-accent-color: #DF6951;

// Container
$minWidth: 414;
$maxWidth: 1440;
$maxWidthContainer: 1200;

// Fonts
$main-font-name: 'Poppins', sans-serif;
$title-font-name: 'Volkhov';
$nav-font-name: 'Open Sans';
$base-font-size: 16px;
$title-font-size: 50px;
$base-line-height: 188%;
$title-line-height: 64px;
$base-font-weight: 500;
$title-font-weight: 700;

// Break-points
$lg: $maxWidthContainer + 12px;
$md: 991.98px;
$sm: 767.98px;
$xs: 413,98px;